.row {
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.col {
    margin-top : 50px;
}
.pik_img {
    height : 110px;
}
.card-contain {
    margin-top : 15px;
}
.des {
    height: 120px;
}