.col {
    margin-top: 50px;
    text-align: center;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
}

.pik-front-img, .pik-back-img {
    height : 420px;
    cursor: pointer;
}

.card-back {
    position:absolute;
    top: 0px;
    visibility: hidden;
    transform: rotateY(180deg);
}

.flip:hover .card-back {
    visibility: visible;
}

.flip:hover .col {
    transform: rotateY(180deg);
}