.col {
    margin-top: 50px;
    text-align: center;
}
.pik-img {
    height : 370px;
}

.pik-name {
    font-size: 1.25em;
    font-weight: bolder;
}

.card-contain {
    margin-top : 15px;
}
.des {
    height: 110px;
}